body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.grid-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.75fr 3fr 0.5fr;
  grid-template-areas:
    "nav nav nav nav"
    "main main main sidebar"
    "footer footer footer footer";
  gap: 0.4rem;
  text-transform: uppercase;
  color: ghostwhite;
  font-size: 2.5rem;
  text-align: center;
}
nav {
  background: #b7c7c6;
  grid-area: nav;
}
main {
  background: #b7c7c6;
  grid-area: main;
}
.sidebar-container {
  background: #b7c7c6;
  grid-area: sidebar;
  display: flex;
  justify-content: center;
}
footer {
  background: #b7c7c6;
  grid-area: footer;
}

/* Contobox styling */
.contobox-container {
  width: 300px;
  height: 250px;
  background-color: transparent;
  position: relative;
  z-index: 10;
  overflow: hidden;
}
.background {
  background: url("./assets/300x250/background.jpg");
  position: relative;
  height: 100%;
  width: 100%;
}
.slide-1 {
  background: url("./assets/300x250/slide-1.png");
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  opacity: 0;
  animation: slide-1 1.5s cubic-bezier(0.14, 0.66, 0.94, 0.51) 0.5s 1;
  -moz-animation: slide-1 1.5s cubic-bezier(0.14, 0.66, 0.94, 0.51) 0.5s 1;
  -o-animation: slide-1 1.5s cubic-bezier(0.14, 0.66, 0.94, 0.51) 0.5s 1;
  -webkit-animation: slide-1 1.5s cubic-bezier(0.14, 0.66, 0.94, 0.51) 0.5s 1;
}
.slide-2 {
  background: url("./assets/300x250/slide-2.png");
  height: 100%;
  width: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  animation: slide-2 3s ease-in-out 2s 1;
  -moz-animation: slide-2 3s ease-in-out 2s 1;
  -o-animation: slide-2 3s ease-in-out 2s 1;
  -webkit-animation: slide-2 3s ease-in-out 2s 1;
}
.slide-3 {
  background: url("./assets/300x250/slide-31.png");
  height: 100%;
  width: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  animation: slide-3 3s linear 5s 1;
  -moz-animation: slide-3 3s linear 5s 1;
  -o-animation: slide-3 3s linear 5s 1;
  -webkit-animation: slide-3 3s linear 5s 1;
}
.slide-4 {
  background: url("./assets/300x250/slide-4.png");
  height: 100%;
  width: 100%;
  visibility: hidden;
  position: absolute;
  top: 0;
  animation: slide-4 2s linear 8s 1 forwards;
  -moz-animation: slide-4 2s linear 8s 1 forwards;
  -o-animation: slide-4 2s linear 8s 1 forwards;
  -webkit-animation: slide-4 2s linear 8s 1 forwards;
}

/* ANIMATION 300X250 */
@keyframes slide-1 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slide-2 {
  0% {
    opacity: 0;
    transform: scale(0, 0);
  }
  25% {
    opacity: 0.25;
    transform: scale(1, 1);
  }
  50% {
    opacity: 1;
    transform: scale(1, 1);
  }
  75% {
    opacity: 1;
    transform: scale(1, 1);
  }
  100% {
    opacity: 1;
    transform: scale(0, 0);
  }
}
@keyframes slide-3 {
  0% {
    top: -100px;
    opacity: 0;
  }
  50% {
    top: 0;
    opacity: 1;
  }
  75% {
    top: 0;
    opacity: 1;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
@keyframes slide-4 {
  0% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

/* MODAL */
.modal-outer {
  background-color: rgb(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  position: fixed;
  z-index: 20;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  /* hide modal */
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
}
.modal-outer.open {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
.modal-inner {
  background: url("./assets/960x600/background.png");
  width: 960px;
  height: 600px;
  position: absolute;
}
.menu {
  position: absolute;
  left: 350px;
}
.close-btn {
  /* background: url("./assets/960x600/CLOSE.png"); */
  float: right;
  width: 24px;
  height: 24px;
  padding: 2rem;
  cursor: pointer;
  z-index: 999;
}
.close-btn:hover {
  transform: scale(2, 2);
  cursor: pointer;
}
.shape {
  position: absolute;
  left: 5px;
  top: -55.5px;
}

/* 960x600 MODAL */
.text-1 {
  background: url("./assets/960x600/text-1b.png");
  height: 100%;
  left: 0;
  transform: scale(0, 0);
  /* animation: slide-text 3s ease-in-out 5s 1 forwards; */
}
.dvd {
  background: url("./assets/960x600/dvd.png");
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  /* animation: ps3-ps4 1s 1 0.5s ease-in; */
}
.content-bottom {
  background: url("./assets/960x600/social-media.png");
  /* background: url("./assets/960x600/footer.png"); */
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  opacity: 0;
  /* animation: bottom 1s linear 8s 1 forwards; */
}
.pre-order {
  position: absolute;
  bottom: 32px;
  right: 48px;
  opacity: 0;
  /* animation: plus 0.5s linear 8.5s 1 forwards; */
}

/* ANIMATION 960X600 */
@keyframes ps3-ps4 {
  0% {
    top: -400px;
    opacity: 0;
  }
  25% {
    top: -300px;
    opacity: 0.25;
  }
  50% {
    top: -200px;
    opacity: 0.5;
  }
  75% {
    top: -100px;
    opacity: 0.75;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
@keyframes slide-text {
  0% {
    opacity: 0;
    transform: scale(0, 0);
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}
@keyframes bottom {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes plus {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 567px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr 2fr 1.2fr;
    grid-template-areas:
      "nav"
      "sidebar"
      "main"
      "footer";
  }
  .modal-inner {
    max-width: 300px;
    max-height: auto;
  }
}
